
<div class="chat">   
  <div class="chat-header"> 
        <div class="form">
            <div class="form-input">
              <label i class="fas fa-camera-retro"></i>
                <input type="file" class="hidden">
              </label>
                <input class="form-message" placeholder= "type a message">
            
              <i input class="fas fa-running" type="submit" value="送信"></i>
            </div>
        </div>
  </div>
</div>


