<div class="jumbo-workout-head">
  <div class="jumbo-content">
    <h1 class="display-4">Let's get started!</h1>
    <p class="lead">プロテイン、筋トレに関する情報共有をしよう！</p>
    <%= link_to 'Make a room',  new_workout_room_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>