<div class="side-bar">
    <div class="side-bar-header">
      <div class="side-header-name">
      <i class="fas fa-skating fa-2x faa-float animated"></i>
      <i class="fas fa-skiing fa-2x faa-float animated"></i>
      <i class="fas fa-skiing-nordic fa-2x faa-float animated"></i>

      </div>
    </div>

    <div class="rooms">
      <% @workoutroom.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, workout_room_workout_messages_path(room) %>
        </div>
      </div>
      <% end %>

        
    </div>
</div>
