<%= render "shared/header" %>

<div class="jumbo-workout-head">
 <div class="jumbo-content">
  <h1 class="display-4">Let's get started!</h1>
  <p class="lead">筋トレに関することなら何でも話しましょう！</p>

  
  <%= link_to 'Make a room',  new_workout_room_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<div class="wrapper">

    <%= render "shared/sidebar" %>

  <div class="chat">   
   <div class="chat-header">
    
    <div class="form">
     <div class="form-input">
     <label i class="fas fa-camera-retro"></i>
     <input type="file" class="hidden">
     </label>
      <input class="form-message" placeholder= "type a message">
      
   
      <i input class="fas fa-running" type="submit" value="送信"></i>
     </div>
    
     </div>
     

  </div>
  </div>
  
</div>


<%= render "shared/footer" %>