.jumbotron-jumbo{
  width: 100%;
  max-width: 800px;
  padding: 4rem 2rem;
  margin: auto;
  background: linear-gradient(-45deg, rgba(245, 118, 238, 0.733), rgba(157, 229, 241, 0.8)),
  url(images/bg-cherrybrossam.jpg);
  background-size: cover;
  margin-bottom: 2rem;
  border-radius: .3rem;
}


.backjumbo{
  background-image: url(women5.jpg);
  background-size: cover;
  background-position: center;
}

.colc-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#weight-c{
  width: 100px;
  line-height: 2;
  background-color: rgb(211, 238, 245); 
  border: 3px solid rgb(47, 170, 241);
}

.colc-content{
  font-size: 29px;
}

#taizyu{
  font-size: 25px;
  padding-left: 40px;;
}

#colc-result{
  color: rgb(214, 228, 20);
}