@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.sign-back{
  background: linear-gradient(-45deg, rgba(198, 206, 129, 0.733), rgba(170, 197, 202, 0.8));
}
.sign-back a{
 display: flex;
 justify-content: center;
}

.logtext{
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}


.field {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


.field-1[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.field-2[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.far.fa-thumbs-up{
  margin-left: 20px;
}

.fas.fa-snowboarding{
  margin: 0 20px;

}